.form {
   
    width: 700px;
    display: flex;
    flex-direction: column;

}
.space{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zaxis{
    z-index: 2;
}
.inputfield{
    text-align: center;
}
